{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h2 style="margin: 0 auto; width: 656px; text-align: center;">AUTODETAILING SERVICE</h2>
    <h3>Wszystkie zlecenia:</h3>
{% endblock %}

{% block zawartość %}
    <ul>
    {% for order in orders %}
        <li><strong>Zamówienie nr {{ order.id }}</strong></li>
        <li>Użytkownik: {{ order.user }}</li>
        <li> Utworzono: {{ order.created }}</li>
        <li> Termin usługi: {{ order.meeting_date }}</li>
        <li> Zamówione usługi:
            <ul>
            {% for service in order.services.all %}
            <li>{{ service.name }}</li>
            {% endfor %}
            </ul>
        </li>
        <li> Czy usługę wykonano w terminie? : {{ order.is_done }}</li>
        <br>
        {% if user.is_superuser %}
        <a class="button-one" title="Usuwa zamówienie" href="{{ order.delete_order_url }}">USUŃ ZAMÓWIENIE</a>
        {% endif %}
        <br><br><br>
    {% endfor %}
    </ul>
{% endblock %}