{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h2 style="margin: 0 auto; width: 656px; text-align: center;">AUTODETAILING SERVICE</h2>
    <h3>Opinie:</h3>
{% endblock %}

{% block zawartość %}
    <ul>
    {% for opinion in opinions %}
        {% if user.is_superuser %}
        <li>Użytkownik: {{ opinion.user }}</li>
        {% endif %}
        <li>Użytkownik: "<strong>{{ opinion.nick }}</strong>" napisał: <strong>{{ opinion.description }}</strong></li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}