{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | AUTODETAILING SERVICE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image_center.css' %}">
</head>
<body style="background-color: darkgrey">
{% include 'autodetailing_app/nav_bar.html' %}
<br><br>

{% block nagłówek %}
{% endblock %}

{% block zawartość %}
{% endblock %}

<br>
<br><br>
<footer>
    <p style="text-align: center; font-size: small">© 2022 M.Złakowski</p>
</footer>
<br>
{#{{ date }}#}
<br>

</body>
</html>