{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | AUTODETAILING SERVICE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image_center.css' %}">
</head>
<body style="background-color: darkgrey">
{% include 'autodetailing_app/nav_bar.html' %}
<br><br>

{% block nagłówek %}
    <ul>
        {% for category in categories %}
            <li>{{ category.name }}: {{ category.description }}</li><br>
        {% endfor %}
    </ul>
{% endblock %}

{% block zawartość %}
<div style="margin: 0 auto; width: 656px; text-align: center;">
    <a class="button" href="/inside/">WEWNĄTRZ</a>
    <a class="button button2" href="/outside/">NA ZEWNĄTRZ</a>
</div>
{% endblock %}

<br>
<img src="{% static 'img.png' %}" alt="Autodetailing" class="center">
<footer>
    <p>Autor: Michał Złakowski</p>
    <p><a href="mailto:hege@example.com">zlakowski.michal@gmail.com</a></p>
</footer>
<br>
{#{{ date }}#}
<br>

</body>
</html>