{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h3>WYBIERZ USŁUGI:</h3>
{% endblock %}

{% block zawartość %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <div>Łączna kwota do zapłaty: <strong>{{ service.price }} zł</strong></div>
        <br><br>
        <div>Czas potrzebny na realizację usługi: <strong>{{ service.min_to_hours }} h.</strong></div>
        <br><br>
        <input style="background-color: darkorange; font-size: 16px" type="submit" value="ZAMÓW">
    </form>
{% endblock %}