{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock title %} | AUTODETAILING SERVICE</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'style_buttons.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'image_center.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'drop_down.css' %}">
</head>
<body style="background-color: darkgrey">
{% include 'autodetailing_app/nav_bar.html' %}
<br>

{% block user %}
    {% if user.is_authenticated %}
        <h5 style="color: #333; text-align: right">Witaj {{ user.username }} !</h5>
        <h5 style="color: #333; text-align: right">Dziś jest: {{ date }}</h5>
    {% endif %}
{% endblock %}
<br>

{% block nagłówek %}
    <h3>O aplikacji...</h3>
{% endblock %}

{% block zawartość %}
    <p>{{ about.description }}</p>
{% endblock %}

<br>
<img src="{% static 'img.png' %}" alt="Autodetailing" class="center">
<br><br>
<footer>
    <p style="text-align: center; font-size: small">© 2022 M.Złakowski</p>
</footer>
<br>
{#{{ date }}#}
<br>

</body>
</html>