<div class="topnav">

    <!-- Left-aligned links (default) -->
    <a href="{% url 'categories' %}">| KATEGORIE |</a>
    <a href="{% url 'services' %}">| USŁUGI |</a>

    <!-- Right-aligned links -->
    <div class="topnav-right">
        {% if user.is_authenticated %}
            <a href="{% url 'user-orders' %}"> | TWOJE ZAMÓWIENIA |</a>
            <a href="{% url 'logout' %}"> |Wyloguj|</a>
        {% else %}
            <a href="{% url 'login' %}">|Zaloguj|</a>
            <a href="{% url 'register' %}">|Rejestracja|</a>
        {% endif %}
    </div>
</div>

<!-- Dropdown-menu -->
<div class="topnav">
    <!-- Centered link -->
    <div class="topnav-centered">
        <a href="{% url 'order' %}" class="active"> || KOSZYK ||</a>
    </div>
    <!-- Left-aligned links (default) -->
     {% if user.is_authenticated %}
    <a href="{% url 'opinion-add' %}">| Dodaj opinię |</a>
    <a href="{% url 'service-add' %}">| Dodaj usługę |</a>
    <a href="{% url 'worker-add' %}">| Dodaj pracownika |</a>
    {%  endif %}

    <!-- Right-aligned links -->
    <div class="topnav-right">
         {% if user.is_authenticated %}
        <a href="{% url 'all-orders' %}">| Wszystkie zamówienia |</a>
        <a href="{% url 'all-opinions' %}">| Opinie |</a>
        {% endif %}
    </div>
</div>