{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    {% if message %}
    <h3 style="text-align: center">{{ message }}</h3>
        <br><br>
    {% else %}
    <h3>JUŻ PRAWIE KONIEC... :)</h3>
    <h4>Wybrane usługi do realizacji:</h4>
    {% endif %}
    <ul>
        {% for service in user.cart.services.all %}
            <li>{{ service.upper_name }}
                <br>
                <a class="button-one" title="Usuwa usługę z koszyka" href="{{ service.remove_service_url }}">USUŃ Z KOSZYKA</a>
            </li>
            <br>
        {% endfor %}
    </ul>

{% endblock %}

{% block zawartość %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <div>Łączna kwota do zapłaty: <strong>{{ user.cart.get_total_value }} zł</strong></div>
        <br><br>
        <div>Czas potrzebny na realizację usługi ~ <strong>{{ user.cart.get_total_time }} h.</strong></div>
        <br><br>
        <input class="button button2" type="submit" value="ZAMÓW">
    </form>
{% endblock %}