{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    {% if error_date %}
        <h3 style="text-align: left; color: #4b4949">{{ error_date }}</h3>
        <br><br>
    {% endif %}
    {% if message %}
        <h3 style="text-align: center; color: #4b4949">{{ message }}</h3>
        <br><br>
    {% else %}
        <h3>JUŻ PRAWIE KONIEC... :)</h3>
        <br>
        <h4>Wybrane usługi do realizacji:</h4>
    {% endif %}
    <div>
        {% for service in user.cart.services.all %}
            <p><strong>{{ forloop.counter }}.</strong> {{ service.upper_name }}
                <a class="button-one" title="Usuwa usługę z koszyka" href="{{ service.remove_service_url }}">USUŃ Z KOSZYKA</a>
            </p>
            <br>
        {% endfor %}
    </div>

{% endblock %}

{% block zawartość %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br><br>
        <div>Łączna kwota do zapłaty: <strong>{{ user.cart.get_total_value }} zł</strong></div>
        <br><br>
        <div>Czas potrzebny na realizację usługi ~ <strong>{{ user.cart.get_total_time }} h.</strong></div>
        <br><br>
        <input class="button button2" type="submit" value="ZAMÓW">
    </form>
{% endblock %}