{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h3 style="text-align: center; color: darkslategray;border-width:10px;border-style:solid;border-color:cadetblue">KATEGORIA: {{ category }} </h3>
{% endblock %}

{% block zawartość %}
    <ul>
    {% for service in outside_services %}
        <li>{{ service.upper_name }} || cena: {{ service.price }} zł || <a class="button-one" title="Wyświetla szczegóły usługi" href="{{ service.get_absolute_url }}">Szczegóły</a></li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}