{% extends 'autodetailing_app/base_navbar_image.html' %}
{% block nagłówek %}
    <h3 style="text-decoration: underline">{{ service.upper_name }}</h3>
{% endblock %}

{% block zawartość %}
    <ul>
        <li>{{ service.description }}</li>
        <br>
        <li>Czas wykonania: <strong>{{ service.duration }} min.</strong></li>
        <li>Cena: <strong>{{ service.price }} zł</strong></li>
        {% for category in service.categories.all %}
            <li>Kategoria: {{ category }}</li>
        {% endfor %}
        <br>
        <a class="button button2" href="{{ service.add_to_card_url }}">DODAJ DO KOSZYKA</a>
        {% if service.image %}
            <img src="{{ service.image.url }}" class="center">
        {% endif %}
    </ul>
{% endblock %}
