{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h2 style="margin: 0 auto; width: 656px; text-align: center;">AUTODETAILING SERVICE</h2>
    <h3> USŁUGI:</h3>
{% endblock %}

{% block zawartość %}
    <ul>
    {% for service in services %}
        <li>{{ service.upper_name }}
            <a style="color: darkgreen" href="{{ service.get_absolute_url }}">(szczegóły)</a>
            <a style="color: red" href="{{ service.remove_url }}">(usuń)</a>
            <a style="color: royalblue" href="{{ service.add_to_card_url }}">(dodaj do koszyka)</a>
        </li>
        <br>
    {% endfor %}
    </ul>
{% endblock %}