{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    <h2 style="margin: 0 auto; width: 656px; text-align: center;">AUTODETAILING SERVICE</h2>
    <h3>Podsumowanie zamówień:</h3>
{% endblock %}

{% block zawartość %}
    <ul>
    {% for order in orders %}
        <li><strong>Zamówienie nr {{ order.id }}</strong></li>
        <li> Utworzono: {{ order.created }}</li>
        <li> Termin usługi: {{ order.meeting_date }}</li>
        <li> Twoje zamówione usługi:
            <ul>
            {% for service in order.services.all %}
            <li>{{ service.name }}</li>
            {% endfor %}
            </ul>
        </li>
{#            <a class="button-one" title="Wyświetla szczegóły usługi" href="{{ service.get_absolute_url }}">Szczegóły</a>#}
{#            <a class="button-two" title="Usuwa usługę z listy" href="{{ service.remove_url }}">Usuń</a>#}
{#            <a class="button-three" title="Dodaje usługę do koszyka" href="{{ service.add_to_card_url }}">DO KOSZYKA</a>#}

        <br>
    {% endfor %}
    </ul>
{% endblock %}