{% extends 'autodetailing_app/base_with_navbar.html' %}
{% block nagłówek %}
    {% if message %}
        <h3 style="text-align: center; color: #4b4949">{{ message }}</h3>
        <br><br>
    {%  else %}
    <h2 style="margin: 0 auto; width: 656px; text-align: center;">AUTODETAILING SERVICE</h2>
    <h3>Podsumowanie zamówień:</h3>
    {%  endif %}
{% endblock %}

{% block zawartość %}
    <ul>
    {% for order in orders %}
        <li><strong>Zamówienie nr {{ order.id }}</strong></li>
        <li> Utworzono: {{ order.created }}</li>
        <li> Termin usługi: {{ order.meeting_date }}</li>
        <li> Twoje zamówione usługi:
            <ul>
            {% for service in order.services.all %}
            <li>{{ service.name }}</li>
            {% endfor %}
            </ul>
        </li>
        <br>
        <a class="button-one" title="Usuwa zamówienie" href="{{ order.delete_order_url }}">USUŃ ZAMÓWIENIE</a>
        <br><br><br>
    {% endfor %}
    </ul>
    <br>
{% endblock %}